<h1>New Restaurant</h1>
<% if @restaurant.errors.any? %>
  <div style="color:b00;">
    <h3><%= pluralize(@restaurant.errors.count, "error") %> prevented saving:</h3>
    <ul>
      <% @restaurant.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: Restaurant::CATEGORIES, prompt: "Choose a category" %>
  <%= f.button :submit, "Create" %>
<% end %>
<p><%= link_to "Back", restaurants_path %></p>