<h1>New Review for <%= @restaurant.name %></h1>
<%= form_with model: [@restaurant, @review] do |f| %>
  <p><%= f.label :rating %></p>
  <br>
  <p><%= f.number_field :rating %></p>
  <p><%= f.label :content %></p>
  <br>
  <p><%= f.text_area :content %></p>
  <p><%= f.submit "Post review" %></p>
<% end %>
<p><%= link_to "Back", @restaurant %></p>
